---
import Main from "../layout/main.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Demo from "../components/Demo.astro";
---

<Main>
  <Header />
  <Demo/>
  <Footer />
</Main>
