---
import Layout from "@/layouts/main.astro"
import Nav from "@/components/Nav"
import Hero from "@/components/Hero"
import Marquee from "@/components/Marquee"
import About from "@/components/About"
import Services from "@/components/Services"
import TechCloud from "@/components/TechCloud"
import Projects from "@/components/Projects"
import Team from "@/components/Team"
import Pricing from "@/components/Pricing"
import Testimonials from "@/components/Testimonials"
import Knowledge from "@/components/Knowledge"
import Blog from "@/components/Blog"
import Contact from "@/components/Contact"
import Footer from "@/components/Footer"
import FloatContact from "@/components/FloatContact"
---

<Layout>
  <Nav client:load />
  <div style="position:relative; height:130vh;">
    <Hero client:load />
  </div>
  <Marquee />
  <About client:load />
  <Services />
  <TechCloud client:load />
  <Projects />
  <Team client:load />
  <Pricing />
  <Testimonials client:load />
  <Knowledge />
  <Blog />
  <Contact client:load />
  <Footer />
  <FloatContact client:load />
</Layout>
