---
import { dry as createDry } from "@drystack/astro/dry";
import config from "../../drystack.config";
import Image from "astro/components/Image.astro";

const dry = await createDry(config).singleton.demo;
---

<main>
  <h1 {...dry.item("text")}>{dry.text}</h1>
  {
    dry.image && (
      <Image
        width={200}
        height={200}
        alt="hình ảnh demo"
        src={dry.image}
        {...dry.item("image")}
      />
    )
  }

  <ul {...dry.item("array")} style="display: flex; flex-direction: column; gap: 1rem">
    {dry.array.map((i, idx)=><li {...dry.item(`array.${idx}`)}>{i}</li>)}
  </ul>
</main>

<style>
  main {
    min-height: 70dvh;
    padding-top: 10rem;
    padding-bottom: 5rem;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  img {
    object-fit: contain;
    width: 300px;
    height: auto;
  }
</style>
