---
import { dry as createDry } from "@drystack/astro/dry";
import config from "../../drystack.config";
import Image from "astro/components/Image.astro";

const dry = await createDry(config).singleton.demo;
---

<main>
  <div>{dry.content}</div>
</main>

<style>
  .imglist {
    display: flex;
    gap: 1rem;
    & > img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }
  main {
    min-height: 70dvh;
    padding-top: 10rem;
    padding-bottom: 5rem;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  img {
    object-fit: contain;
    width: 300px;
    height: auto;
  }
</style>
